In [1]:
import numpy as np
import pandas as pd
s=pd.Series([1,4,np.nan,5])
s

0    1.0
1    4.0
2    NaN
3    5.0
dtype: float64

In [2]:
s.dtypes

dtype('float64')

In [3]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
dic={'gzy':64,'zjj':58,'zyx':66}
s1=pd.Series(dic)

In [5]:
s1

gzy    64
zjj    58
zyx    66
dtype: int64

In [6]:
s1['gzy']=100

In [7]:
s1

gzy    100
zjj     58
zyx     66
dtype: int64

In [8]:
s1
s1['zjj']=0

In [9]:
s1

gzy    100
zjj      0
zyx     66
dtype: int64

In [10]:
s1

gzy    100
zjj      0
zyx     66
dtype: int64

In [11]:
import time 
time.sleep(10)

In [12]:
time.sleep(10)

In [13]:
time.localtime(0)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=8, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [14]:
time.localtime()

time.struct_time(tm_year=2020, tm_mon=3, tm_mday=26, tm_hour=23, tm_min=0, tm_sec=15, tm_wday=3, tm_yday=86, tm_isdst=0)

In [15]:
time.localtime(3)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=8, tm_min=0, tm_sec=3, tm_wday=3, tm_yday=1, tm_isdst=0)

In [16]:
time.time()

1585234815.334265

In [17]:
start=time.time()
time.sleep(5)
end=time.time()
print(end-start)

5.000382423400879

In [18]:
time.strftime("%Y-%m-%d %X", time.localtime())

'2020-03-26 23:00:20'

In [19]:
import random

In [20]:
random.seed(1)

In [21]:
random.random()

0.13436424411240122

In [22]:
import numpy as np
import pandas as pd

In [23]:
dates=pd.date_range('20200213',periods=6)

In [24]:
dates

DatetimeIndex(['2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16',
               '2020-02-17', '2020-02-18'],
              dtype='datetime64[ns]', freq='D')

In [25]:
import random

In [26]:
print('%05.3f'%random.uniform(1,7),end=" ")

6.085

In [27]:
random.seed(2)

In [28]:
print(str(random.random())

SyntaxError: unexpected EOF while parsing (<ipython-input-28-7ccc78dcc8df>, line 1)

In [ ]:
print(str(random.random()))

In [ ]:
random.seed(4)
for i in range(3):
    print('%.3f'%random.random(),end=" ")

In [ ]:
import random
import itertools

outcomes = {
    'heads': 0,
    'tails': 0,
}
sides = list(outcomes.keys())

for i in range(10000):
    outcomes[random.choice(sides)] += 1

print('Heads:', outcomes['heads'])
print('Tails:', outcomes['tails'])
outcomes

In [ ]:
print(outcomes.keys())

In [ ]:
import numpy as np 
import pandas as pd
import random

dates=pd.date_range('20200213',periods=4)
df=pd.DataFrame({'A': 1.,
                 'B': pd.Timestamp('20130102'),
                 'C': pd.Series(1,index=list(range(4)),dtype='float64'),
                 'D': np.array([3] * 4, dtype='int64'),
                 'E': pd.Categorical(["test", "train", "test", "train"]),
                 'F': 'foo'},
                  index=dates)
df.to_numpy()

In [ ]:
import numpy as np 
import pandas as pd
import random
dates=pd.date_range('20200214',periods=6)
df1 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df1)
df1.describe()

In [ ]:
df1.T

In [ ]:
df1.sort_index(axis=1,ascending=False)

In [ ]:
df1['A']>0

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt

In [ ]:
%cd
%cd pandas-cookbook/data

In [ ]:
broken_df = pd.read_csv('bikes.csv')

In [30]:
x=pd.read_table('http://bit.ly/chiporders')

In [31]:
x.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [32]:
x.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [35]:
x.rename(columns={'order_id':'ID'},inplace=True)