In [1]:
import numpy as np
import pandas as pd
s=pd.Series([1,4,np.nan,5])
s

0    1.0
1    4.0
2    NaN
3    5.0
dtype: float64

In [2]:
s.dtypes

dtype('float64')

In [3]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
dic={'gzy':64,'zjj':58,'zyx':66}
s1=pd.Series(dic)

In [8]:
s1

gzy    64
zjj    58
zyx    66
dtype: int64

In [13]:
s1['gzy']=100

In [14]:
s1

gzy    100
zjj     58
zyx     66
dtype: int64

In [18]:
s1
s1['zjj']=0

In [19]:
s1

gzy    100
zjj      0
zyx     66
dtype: int64

In [21]:
s1

gzy    100
zjj      0
zyx     66
dtype: int64

In [22]:
import time 
time.sleep(10)

In [23]:
time.sleep(10)

In [24]:
time.localtime(0)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=8, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [25]:
time.localtime()

time.struct_time(tm_year=2020, tm_mon=2, tm_mday=5, tm_hour=21, tm_min=22, tm_sec=42, tm_wday=2, tm_yday=36, tm_isdst=0)

In [26]:
time.localtime(3)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=8, tm_min=0, tm_sec=3, tm_wday=3, tm_yday=1, tm_isdst=0)

In [27]:
time.time()

1580913994.187792

In [28]:
start=time.time()
time.sleep(5)
end=time.time()
print(end-start)

5.009966850280762

In [29]:
time.strftime("%Y-%m-%d %X", time.localtime())

'2020-02-05 23:00:34'

In [30]:
import random

In [31]:
random.seed(1)

In [32]:
random.random()

0.13436424411240122

In [2]:
import numpy as np
import pandas as pd

In [3]:
dates=pd.date_range('20200213',periods=6)

In [4]:
dates

DatetimeIndex(['2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16',
               '2020-02-17', '2020-02-18'],
              dtype='datetime64[ns]', freq='D')

In [5]:
import random

In [6]:
print('%05.3f'%random.uniform(1,7),end=" ")

2.319

In [7]:
random.seed(2)

In [8]:
print(str(random.random())

SyntaxError: unexpected EOF while parsing (<ipython-input-8-7ccc78dcc8df>, line 1)

In [9]:
print(str(random.random()))

0.9560342718892494

In [10]:
random.seed(4)
for i in range(3):
    print('%.3f'%random.random(),end=" ")

0.236 0.103 0.396

In [17]:
import random
import itertools

outcomes = {
    'heads': 0,
    'tails': 0,
}
sides = list(outcomes.keys())

for i in range(10000):
    outcomes[random.choice(sides)] += 1

print('Heads:', outcomes['heads'])
print('Tails:', outcomes['tails'])
outcomes

Heads: 4913
Tails: 5087

{'heads': 4913, 'tails': 5087}

In [14]:
print(outcomes.keys())

dict_keys(['heads', 'tails'])

In [2]:
import numpy as np 
import pandas as pd
import random

dates=pd.date_range('20200213',periods=4)
df=pd.DataFrame({'A': 1.,
                 'B': pd.Timestamp('20130102'),
                 'C': pd.Series(1,index=list(range(4)),dtype='float64'),
                 'D': np.array([3] * 4, dtype='int64'),
                 'E': pd.Categorical(["test", "train", "test", "train"]),
                 'F': 'foo'},
                  index=dates)
df.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), nan, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), nan, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), nan, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), nan, 3, 'train', 'foo']],
      dtype=object)

In [1]:
import numpy as np 
import pandas as pd
import random
dates=pd.date_range('20200214',periods=6)
df1 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df1)
df1.describe()

                   A         B         C         D
2020-02-14  0.061674 -0.712921  1.184065  2.550299
2020-02-15  1.118908 -0.310764 -0.775659 -0.103789
2020-02-16 -1.087270 -0.049221 -1.473172 -0.414543
2020-02-17 -0.449659 -1.088152  2.487044  0.326836
2020-02-18 -0.349539  0.030338  0.605712  1.183106
2020-02-19  1.942321 -1.523770  1.230634  0.239491

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.206073 -0.609082  0.543104  0.630233
std    1.120723  0.614531  1.447125  1.083272
min   -1.087270 -1.523770 -1.473172 -0.414543
25%   -0.424629 -0.994344 -0.430316 -0.017969
50%   -0.143932 -0.511843  0.894889  0.283164
75%    0.854600 -0.114607  1.218992  0.969039
max    1.942321  0.030338  2.487044  2.550299

In [2]:
df1.T

   2020-02-14  2020-02-15  2020-02-16  2020-02-17  2020-02-18  2020-02-19
A    0.061674    1.118908   -1.087270   -0.449659   -0.349539    1.942321
B   -0.712921   -0.310764   -0.049221   -1.088152    0.030338   -1.523770
C    1.184065   -0.775659   -1.473172    2.487044    0.605712    1.230634
D    2.550299   -0.103789   -0.414543    0.326836    1.183106    0.239491

In [3]:
df1.sort_index(axis=1,ascending=False)

                   D         C         B         A
2020-02-14  2.550299  1.184065 -0.712921  0.061674
2020-02-15 -0.103789 -0.775659 -0.310764  1.118908
2020-02-16 -0.414543 -1.473172 -0.049221 -1.087270
2020-02-17  0.326836  2.487044 -1.088152 -0.449659
2020-02-18  1.183106  0.605712  0.030338 -0.349539
2020-02-19  0.239491  1.230634 -1.523770  1.942321

In [4]:
df1['A']>0

2020-02-14     True
2020-02-15     True
2020-02-16    False
2020-02-17    False
2020-02-18    False
2020-02-19     True
Freq: D, Name: A, dtype: bool